@page "/team/{Id:int}"

@inherits TeamsComponent

<h3>
    Name : @team.Name   <br/>
    Region : @team.Region
</h3>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Age</th>
    </tr>
    @foreach (var member in members)
    {
        <tr>
            <td>@member.Name</td>
            <td>@member.Age</td>
        </tr>
    }
</table>

@code {
    [Parameter]
    public int Id { get; set; }

    private Team team;
    private IEnumerable<Member> members;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        var allMembers = new List<Member>();
        allMembers.Add(new Member { Id = 1, Name = "壹", Age = 20, TeamId = 1 });
        allMembers.Add(new Member { Id = 2, Name = "貳", Age = 21, TeamId = 1 });
        allMembers.Add(new Member { Id = 3, Name = "參", Age = 22, TeamId = 2 });
        allMembers.Add(new Member { Id = 4, Name = "肆", Age = 23, TeamId = 2 });
        allMembers.Add(new Member { Id = 5, Name = "伍", Age = 24, TeamId = 3 });
        allMembers.Add(new Member { Id = 6, Name = "陸", Age = 25, TeamId = 3 });

        team = teams.FirstOrDefault(x => x.Id == Id);
        members = allMembers.Where(x => x.TeamId == Id);
    }

    public class Member
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public int Age { get; set; }
        public int TeamId { get; set; }
    }
}
