<AuthorizeView>
    <Authorized>
        Welcome, @context.User.Identity.Name  <a href="/Logout">Logout</a>
    </Authorized>
    <NotAuthorized>
        <a href="/Register">Register</a>
        <a href="/Login">Login</a>
    </NotAuthorized>
</AuthorizeView>